body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  justify-content: 200px;
}
.header {
  background-color: #0171f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
}
.logo {
  width: 130px;
}
.header-links a {
  color: white;
  padding: 0 15px;
  text-decoration: none;
  border-radius: 15px;
}
.header-links a:hover {
  background-color: #2386fe;
}

.btn:hover {
  background-color: #f2858c;
}

.landing-page {
  background-color: #0171f9;
  display: flex;
  justify-content: space-between;
  padding: 5px 100px;
  align-items: center;
  color: #ffffff;
  border-radius: 0 0 50px 50px;
  margin-bottom: 50px;
}
.btn {
  background-color: #ee626b;
  color: #ffffff;
  border: none;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 15px;
  width: 80px;
  height: 35px;
}
.landing-page-search input {
  border-radius: 50px;
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
}
.landing-page-search button {
  position: absolute;
  left: 200px;
  height: 30px;
}
.landing-page-images-container img {
  border-radius: 20px;
  width: 250px;
}
.landing-page-lift-section {
  width: 500px;
}

.trending-container {
  padding: 50px 100px;
  margin-bottom: 50px;
}

.trending-container span {
  color: #ee626b;
  text-transform: uppercase;
  font-size: 14px;
}

.trending-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending-header h1 {
  margin-top: 0;
}

.card {
  width: 280px;
  background-color: #eeeeee;
  border-radius: 20px;
}

.card .thumb {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 230px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
}

.card-info img {
  width: 50px;
}
.trending-cards {
  display: flex;
  gap: 12px;
}

.most-Played-contenar {
  padding: 50px 100px;
  border-radius: 100px;
  background-color: #eeeeee;
  margin-bottom: 50px;
}
.most-Played-contenar span {
  color: #ee626b;
  text-transform: uppercase;
  font-weight: bold;
}
.most-Played-header h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.most-Played-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.card-most-played-info {
  justify-content: space-between;
  padding: 0 0;
}
.card-most {
  text-align: center;
}
.cards-most-played {
  display: flex;
  justify-content: space-between;
}
.card-most .image-most-played {
  border-radius: 20px;
  width: 185px;
  height: 185px;
}
.btn-most {
  background-color: #ee626b;
  color: #ffffff;
  border: none;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 30px;
  width: 120px;
  height: 50px;
  font-weight: bold;
  font-size: medium;
}
.name-game {
  color: #808080;
}
.categories-contenar {
  padding: 50px 100px;
}
.game-info {
  justify-content: space-between;
  padding: 0 0;
}
.card-top-categories {
  text-align: center;
  background-color: #0171f9;
  border-radius: 30px;
}

.cards-categories {
  display: flex;
  justify-content: space-between;
}
.card-top-categories .imame-categories {
  border-radius: 20px;
  position: relative;
  bottom: -5px;
}
.adraess-categories {
  text-align: center;
  margin-bottom: 65px;
}
.categories-contenar span {
  color: #ee626b;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  bottom: -10px;
}
.game-info {
  color: #ffffff;
  font-size: large;
  font-weight: 500;
}
.copyright {
  background-color: #0171f9;
  padding: 60px 100px;
  border-radius: 100px 100px 0 0;
  margin-top: 80px;

}
.copyright p{
    
    max-width: 1300px;
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: larger;

}
.Conteact{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 40px;
    max-width: 1300px;

}
.Conteact form {
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 400px;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    height: 450px;
}
.Conteact form input, textarea {
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: large;
    /* width: 100%; */
}

.Conteact input {
    height: 50px;
    border-radius: 50px;
}

.Conteact textarea {
    border-radius: 20px;
    padding-top: 10px;
    resize: none;
}
/* END FORM  */